body{
    background: url(https://images.unsplash.com/photo-1600756685068-4751f082a5f5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80);
    background-size: cover;
}

img:hover{
    cursor: grab;
}

.height{
    width: 50%;
}

.background{
    background-color: #00000075;
}

.title-background{
    background-color: rgba(255, 255, 255, 0.63);
}

.right-border{
    border: 10px double black;
}

.colored-toast.swal2-icon-warning{
    background-color: red !important;
}